## O'Reilly Python - 1

### Chapter : 1-4

In [1]:
S = 'Spam'

In [2]:
S.find('pm')

-1

In [21]:
S = S.replace('pa','XYZ')
S

'SXYZm'

In [37]:
line = 'a,bb,ccc,dddd\n'
line.split(',')

['a', 'bb', 'ccc', 'dddd\n']

In [35]:
line1 = 'aabbcc '
line1.rstrip()   # remove whitespace from the right side.

'aabbcc'

In [38]:
line.rstrip().split(',')

['a', 'bb', 'ccc', 'dddd']

In [39]:
'%s, eggs, and %s' %('spam','hello')

'spam, eggs, and hello'

In [41]:
#formatting numeric reports: - 
'{:,.3f}'.format(2.66699)

'2.667'

In [42]:
'%.2f' %(3.1456)

'3.15'

In [44]:
print(dir(S))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [50]:
S = 'Spam'
S + 'NTI'
S.__add__('NTI')

'SpamNTI'

In [51]:
# In order to understand what a particular can do, we can call the help function.
help(S.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [54]:
S = 'A\nB\tC'
len(S)

5

In [62]:
M = ['aa','bb','dd','cc']
M.sort()
print(M)
M.reverse()
print(M)
M.append('ff')
print(M)
M.pop(4)
print(M)

['aa', 'bb', 'cc', 'dd']
['dd', 'cc', 'bb', 'aa']
['dd', 'cc', 'bb', 'aa', 'ff']
['dd', 'cc', 'bb', 'aa']

In [63]:
M = [[1,2,3],[4,5,6],[7,8,9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [68]:
col1 = [row[1] for row in M]
col1

[2, 5, 8]

In [ ]:
# List comprehension derive from set notation. they are a way to build a new list by running an expression on 
# each item in a sequence, one at a time, from left to right. List comprehensions are coded in square brackets.

In [72]:
[row[1] + 1 for row in M]

[3, 6, 9]

In [70]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
col2 = [row[0] for row in M]
col2

[1, 4, 7]

In [76]:
[row[1] for row in M if row[1]% 2 == 0]

[2, 8]

In [77]:
diag = [M[i][i] for i in [0,1,2]]
diag

[1, 5, 9]

In [79]:
doubles = [c*2 for c in "spam"]
doubles

['ss', 'pp', 'aa', 'mm']

In [80]:
[[x**2,x**3] for x in range(4) ]

[[0, 0], [1, 1], [4, 8], [9, 27]]

In [82]:
[[x,x/2,x**2] for x in range(-6,7,2) if x > 0]

[[2, 1.0, 4], [4, 2.0, 16], [6, 3.0, 36]]

In [3]:
bob1 = dict(name = 'bob', job = 'dev',age = 40)
bob1

{'name': 'bob', 'job': 'dev', 'age': 40}

In [5]:
bob2 = dict(zip(['name', 'job', 'age'],['bob','dev',40]))
bob2

{'name': 'bob', 'job': 'dev', 'age': 40}

In [6]:
rec = {'name':{'first':'adarsh','last' : 'raj'}, 'jobs':['dev','support'], 'age': 40}
rec

{'name': {'first': 'adarsh', 'last': 'raj'},
 'jobs': ['dev', 'support'],
 'age': 40}

In [11]:
rec['jobs'].append('janitor')
rec

{'name': {'first': 'adarsh', 'last': 'raj'},
 'jobs': ['dev', 'support', 'janitor', 'janitor'],
 'age': 40}

In [13]:
D = {'a':1,'b':2,'c':3}
D

{'a': 1, 'b': 2, 'c': 3}

In [15]:
Ks = list(D.keys())
Ks

['a', 'b', 'c']

In [18]:
Ks.sort()
Ks

['a', 'b', 'c']

In [21]:
for key in Ks:
    print(key, '=>' , D[key] )

a => 1
b => 2
c => 3

In [25]:
for c in 'spam':
    print(c.upper())

S
P
A
M

In [29]:
x= 1

while x < 5:
    print('spam!'*x)
    x += 1

spam!
spam!spam!
spam!spam!spam!
spam!spam!spam!spam!

In [33]:
squares= []
for x in (1,2,3,4,5):
    squares.append(x**2)
    
squares

[1, 4, 9, 16, 25]

In [34]:
T = (1,2,3,4)
T

(1, 2, 3, 4)

In [36]:
T + (5,6)

(1, 2, 3, 4, 5, 6)

In [39]:
T1 = (2,) + T[1:]
T1

(2, 2, 3, 4)

In [43]:
T = 'spam',3.0,[1,2,3]
T[0]

'spam'

In [47]:
class Worker:
    def __init__(self, name, pay):
        self.name = name
        self.pay = pay
    def lastName(self):
        return self.name.split()[-1]
    def giveRaise(self, percent):
        self.pay *= (1.0 + percent)
    
bob = Worker('Bob Smith',50000)
sue = Worker('Sue Jones', 60000)

print(bob.lastName())

sue.giveRaise(.10)
sue.pay

Smith

66000.0

Python's core data types are - number, string, list, tuples, files and sets. 
An immutable object is an object that can't be changed once it has been created.